* {
    font-family: Footlight MT Light, Georgia, 'Times New Roman', Times, serif;
}

body {
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block; /* Change display to block to have labels on separate lines */
    margin-bottom: 10px; /* Add margin between labels */
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 250px;
}

/* Adjust width for date of birth select fields */
select[name="year"],
select[name="month"],
select[name="date"] {
    width: 100px;
}

h1 {
    font-size: 30px;
    text-align: center;
}
